kube-prometheus-stack:
  alertmanager:
    enabled: false

  grafana:
    adminPassword: admin
    service:
      type: NodePort
      nodePort: 32000

  prometheus:
    prometheusSpec:
      retention: 6h
      scrapeInterval: 30s
      evaluationInterval: 30s
      resources:
        requests:
          cpu: 200m
          memory: 512Mi
        limits:
          cpu: 500m
          memory: 1Gi

  kubeStateMetrics:
    enabled: true

  nodeExporter:
    enabled: true

