# --- Kube-Prometheus-Stack ---
kube-prometheus-stack:
  grafana:
    service:
      type: NodePort
      nodePort: 32000
    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
      datasources:
        enabled: true
        defaultDatasourceEnabled: true
    additionalDataSources:
      - name: Loki
        type: loki
        uid: Loki
        url: http://loki:3100
        access: proxy
        jsonData:
          maxLines: 1000
  prometheus:
    service:
      type: NodePort
      nodePort: 32001
  alertmanager:
    service:
      type: NodePort
      nodePort: 32002

# --- Loki (SingleBinary) ---
loki:
  deploymentMode: SingleBinary
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: boltdb-shipper
          object_store: filesystem
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    storage:
      type: filesystem
  
  # [중요] 싱글 모드
  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      size: 10Gi
  
  # [에러 해결 부분] 사용하지 않는 컴포넌트의 개수를 0으로 명시
  read:
    replicas: 0
  write:
    replicas: 0
  backend:
    replicas: 0
  gateway:
    replicas: 0

  lokiCanary: {enabled: false}
  test: {enabled: false}
  monitoring:
    selfMonitoring: {enabled: false}

# --- Promtail (Logs -> Loki) ---
promtail:
  config:
    clients:
      - url: http://loki:3100/loki/api/v1/push
