kube-prometheus-stack:
  # 1. Grafana 설정
  grafana:
    service:
      type: NodePort
      nodePort: 32000
    sidecar:
      datasources:
        enabled: true
        defaultDatasourceEnabled: true
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
    # (중요) Loki 데이터소스 연결 부분 삭제됨

  # 2. Prometheus 설정
  prometheus:
    service:
      type: NodePort
      nodePort: 32001
    prometheusSpec:
      serviceMonitorSelectorNilUsesHelmValues: false
      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: {}

  # 3. Alertmanager 설정
  alertmanager:
    service:
      type: NodePort
      nodePort: 32002
