kube-prometheus-stack:
  grafana:
    service:
      type: NodePort
      nodePort: 32000
    sidecar:
      datasources:
        enabled: true
        defaultDatasourceEnabled: true
    additionalDataSources:
      - name: Loki
        type: loki
        url: http://loki:3100
        access: proxy

loki:
  # 2.9 버전은 loki: 밑에 바로 설정이 와야 함 (loki: loki: 금지)
  auth_enabled: false
  
  commonConfig:
    replication_factor: 1
    path_prefix: /var/loki

  # 권한 설정 (User 10001)
  podSecurityContext:
    runAsGroup: 10001
    runAsUser: 10001
    fsGroup: 10001
  
  containerSecurityContext:
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop: ["ALL"]

  # 저장소 설정
  persistence:
    enabled: true
    size: 10Gi

  # 불필요한 기능 끄기
  lokiCanary:
    enabled: false
  test:
    enabled: false
  monitoring:
    selfMonitoring:
      enabled: false

promtail:
  config:
    clients:
      - url: http://loki:3100/loki/api/v1/push
