kube-prometheus-stack:
  grafana:
    service:
      type: NodePort
      nodePort: 32000
    sidecar:
      datasources:
        enabled: true
        defaultDatasourceEnabled: true
    additionalDataSources:
      - name: Loki
        type: loki
        url: http://loki:3100
        access: proxy

# --- Loki 3.0 설정 (차트 6.x 버전 구조) ---
loki:
  deploymentMode: SingleBinary
  
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: filesystem
    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h
    # [핵심] 3.0 실행 에러 방지 옵션
    limits_config:
      allow_structured_metadata: false

  # [핵심] 3.0 권한 문제 해결 (Root 대신 10001 사용)
  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      size: 10Gi
    podSecurityContext:
      fsGroup: 10001
      runAsGroup: 10001
      runAsUser: 10001
    containerSecurityContext:
      readOnlyRootFilesystem: false
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      capabilities:
        drop: ["ALL"]

  # 불필요한 파드 생성 방지
  lokiCanary:
    enabled: false
  test:
    enabled: false
  monitoring:
    selfMonitoring:
      enabled: false
  chunksCache:
    enabled: false
  resultsCache:
    enabled: false

# --- Promtail ---
promtail:
  config:
    clients:
      - url: http://loki:3100/loki/api/v1/push
