kube-prometheus-stack:
  grafana:
    adminPassword: "admin"
    service:
      type: NodePort
      nodePort: 32000

  prometheus:
    service:
      type: NodePort
      nodePort: 32001

  alertmanager:
    service:
      type: NodePort
      nodePort: 32002

loki:
  persistence:
    enabled: false

promtail:
  serviceMonitor:
    enabled: true
