kube-prometheus-stack:
  grafana:
    adminPassword: "admin"
    service:
      type: NodePort
      nodePort: 32000

  prometheus:
    service:
      type: NodePort
      nodePort: 32001

  alertmanager:
    service:
      type: NodePort
      nodePort: 32002
      
    alertmanagerSpec:
      config:
        global:
          resolve_timeout: 5m

        route:
          receiver: "slack-noti"
          group_by: ['alertname', 'severity']
          group_wait: 10s
          group_interval: 2m
          repeat_interval: 1h

        receivers:
          - name: "slack-noti"
            slack_configs:
              - api_url: "https://hooks.slack.com/services/XXXX/XXXX/XXXX"   
                channel: "#monitoring-alert"
                send_resolved: true
loki:
  persistence:
    enabled: false
  read:
    replicas: 1
  write:
    replicas: 1

promtail:
  serviceMonitor:
    enabled: true


config:
  clients:
    - url: http://loki-gateway/loki/api/v1/push
      tenant_id: "default"

